<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.neidhardt.osmwrapper">

    <!-- required for google play location service -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- required for mapsforge -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>
